<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productView</title>
</head>
<body>
    <img src="<%= details[0].imageDataBase64 %>" alt="wasteItem" width="400"><br>
    <%= details[0].productName %><br>
    Price: <%= details[0].productPrice %> Tsh<br>
    Product Description: <%= details[0].description %><br>
    Quantity: <%= details[0].quantity %><br>
    Seller's name: <%= details[0].businessName %><br>
    
</body>
</html>