<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wasteView</title>
</head>
<body>
    <img src="<%= details[0].imageDataBase64 %>" alt="wasteItem" width="400"><br>
    Product Description: <%= details[0].description %><br>
    Quantity: <%= details[0].quantity %><br>
    Seller's name: <%= details[0].consumerName %><br>

    <a href="/chat/<%= details[0].consumerName %>">chat with seller</a>

    <form action="/wasteView/buyWithToken" method="post">
        <h3>Buy using your tokens:</h3>
        <input type="hidden" name="consumerName" value="<%= details[0].consumerName %>">
        <input type="number" id="tokenAmount" name="tokenAmount"
            placeholder="Tokens Agreed Upon"><br>
        <input type="text" id="businessName" name="businessName"
            placeholder="Your business name"><br>
        <input type="password" id="walletPass" name="walletPass"
            placeholder="Your wallet password"><br>
        <button value="submit">BUY</button>
    </form>
    
</body>
</html>